*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #f5f5f5;

}

.div-01-layout{
    width: 100%;
    height: 600px;
    background-color: #022E40;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-01-profile-card{
    width: 380px;
    height: 500px;
    background-color: #7297A6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.profile-pic{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}

.profile-pic img{
    width: 550px;
    position: relative;
    bottom: 70px;
    right: 100px;
}

.profile-pic-icons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    margin: 20px 0px;
}

.profile-pic-icons img{
    width: 60px;
}

.go-btn{
    width: 150px;
    height: 40px;
    background-color: #396E9C;
    border-radius: 10px;
    color: #F5E5BA;
    margin: 0px 10px;
    transition: .3s all ease;
}

.go-btn:hover{
    background-color: #011826;
    border: 2px solid white;
    cursor: pointer;
}



.div-01-right-card{
    width: 800px;
    height: 500px;
    margin: 0px 20px;
}

.introduction{
    width: 400px;
    border:  2px solid #A9CBD9;
    border-radius: 10px;
}

.introduction h1{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    padding: 15px;
    color: #A9CBD9;
}

.right-title{
    font-family: 'Archivo Black', sans-serif;
    font-size: 46px;
    color: #346173;
    margin: 50px 0px;
}

.right-intro-text{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 20px;
    color: #A9CBD9;
    border-radius: 10px;
}

.resume-btn{
    width: 150px;
    height: 40px;
    background-color: #346173;
    color: #fff;
    border-radius: 10px;
    margin: 35px 0px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

@media (max-width: 1400px){
    .div-01-right-card{
        width: 700px;
    }

    .right-title{
        font-size: 36px;
    }

    .right-intro-text{
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
        font-size: 18px;
        color: #A9CBD9;
        border-radius: 10px;
    }
}

@media (max-width: 1100px){
    .div-01-right-card{
        width: 550px;
    }

    .profile-pic{
        width: 320px;
        height: 260px;
    }
    
    .profile-pic img{
        right: 130px;
    }

    .right-title{
        font-size: 36px;
    }

    .right-intro-text{
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
        font-size: 16px;
        color: #A9CBD9;
        border-radius: 10px;
    }
}

@media(max-width: 500px){
    .div-01-layout{
        width: 100%;
        height: auto;
        background-color: #022E40;
        flex-direction: column;
    }

    .div-01-profile-card{
        width: 350px;
        height: 450px;
    }

    .profile-pic{
        width: 300px;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;
    }

    .profile-pic img{
        width: 500px;
        right: 110px;
    }

    .div-01-right-card{
        width: 100%;
        height: 500px;
        margin: 150px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .introduction{
        width: 350px;
        margin: 10px 0px;
    }

    .introduction h1{
        font-size: 27px;
    }

    .right-title{
        text-align: center;
    }

    .right-intro-text{
        text-align: center;
        font-size: 18px;
    }
}








.div-03-layout{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.div-03-left{
    border: 5px solid #011826;
    border-radius: 20px;
    width: 400px;
    height: 525px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.a12{
    font-size: 200px;
    color: #346173;
}

.so{
    font-size: 40px;
    color: #346173;
}

.div-03-right{
    width: 700px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.card{
    border: 2px solid #011826;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.card-03,
.card-04{
    margin: 25px 0px;
}

.card-title{
    font-size: 30px;
    text-align: center;
    color: #346173;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

.card-text-content{
    width: 250px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 15px;
}

@media (max-width: 1100px){
    .div-03-left{
        width: 375px;
        height: 475px;
        margin: 0px 20px;
    }

    .a12{
        font-size: 150px;
        color: #346173;
    }
    

    .card{
        border: 2px solid #011826;
        border-radius: 20px;
        width: 275px;
        height: 225px;
        margin-top: 25px;
    }
}



@media(max-width: 500px){
    .div-03-layout{
        flex-direction: column;
    }

    .div-03-left{
        width: 350px;
        height: 325px;
        margin: 20px 0px;
    }

    .a12{
        font-size: 150px;
    }

    .so{
        font-size: 30px;
        color: #346173;
    }

    .div-03-right{
        width: 375px;
        height: auto;
    }

    .card{
        width: 350px;
        margin: 10px 0px;
    }
}





.div-04-layout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    overflow: hidden;
}

.div-04-body{
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-04-body img{
    width: 600px;
    border-radius: 20px;
}

.div-04-text{
    width: 750px;
    margin: 20px 20px;
}

.div-04-title-01{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    color: #346173;
    margin-bottom: 20px;
}

.div-04-text-01{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #4B4A38;
}

.div-04-text-02{
    margin: 20px 20px;
    font-family: 'Archivo Black', sans-serif;
    line-height: 30px;
    color: #346173;
}

.div-04-text-03{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #4B4A38;
}

@media (max-width: 1600px){
    .div-04-body img{
        width: 500px;
    }
}

@media (max-width: 1400px){
    .div-04-body{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
    }

    .div-04-body img{
        width: 500px;
    }

    .div-04-text{
        width: 450px;
        margin: 20px 20px;
    }
}


@media (max-width: 500px){

    .div-04-layout{
        margin: 20px 0px;
    }

    .div-04-body{
        flex-direction: column;
    }

    .div-04-body img{
        width: 370px;
    }

    .div-04-text{
        width: 350px;
        margin: 20px 0px;
    }
}

.wddp-layout{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wddp-body{
    max-width: 1920px;
}

.top-wddp-div h1{
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    color: #346173;
    margin: 20px 20px;
}

.devider{
    width: 600px;
    height: 2px;
    background-color: #A9CBD9;
    position: relative;
    left: 33.5%;
    margin: 10px 10px;
}

.top-wddp-div p{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    padding: 0px 20%;
}

.bottom-wddp-div{
    display: flex;
    align-items: center;
    justify-content: center ;
    margin: 20px 0px;
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 80px;
}
.bottom-wddp-div img{
    width: 70px;
}

.bottom-wddp-div h1{
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

@media (max-width: 1400px){
    .devider{
        width: 50%;
        left: 0%;
        margin: 1% 25%;
    }

}

@media (max-width: 500px){
    .wddp-body{
        max-width: 380px;
    }

    .top-wddp-div p{
        padding: 10px;
    }

    .devider{
        width: 300px;
        left: 7%;
        margin: 10px 10px;
    }

    .bottom-wddp-div{
        display: flex;
        align-items: center;
        justify-content: center ;
        margin: 20px 0px;
    }
    

    .icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 15px;
    }

    .bottom-wddp-div img{
        width: 40px;
    }

}


.div-05-layout{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-05-card{
    width: 370px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #346173;
    border-radius: 20px;
    overflow: hidden;
    margin: 0px 20px;
}

.div-05-title-01{
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    color: #346173;
    margin: 20px 10px;
}

.div-05-img-01{
    width: 200px;

}

.check-btn{
    width: 150px;
    height: 40px;
    background-color: #7297A6;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    border-radius: 10px;
    margin: 20px 0px;
    transition: .3s all ease;
}

.check-btn:hover{
    background-color: #022E40;
    color: #fff;
    cursor: pointer;
}



.subscribe{
    width: 100%;
    background-color: #346173;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
    overflow: hidden;
}

.subscribe-body{
    max-width: 1920px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe-body h1{
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color: #A9CBD9;
}

.subscribe-body p{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #A9CBD9;
}

.subscribe-body input{
    width: 300px;
    padding: 10px; 
    border: 2px solid #A9CBD9;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 20px;
}

.subscribe-body input:hover{
    border-color: #555;
}

.subscribe-body input:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.subscribe-body button{
    background-color: #A9CBD9;
    color: #000;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    margin: 10px 0px;
}

.subscribe-body button:hover{
    background-color: #011826;
    color: #fff;
    transition: .3s;
}

@media (max-width: 500px){
    .div-05-layout{
        flex-direction: column;
    }

    .div-05-card{
        width: 300px;
        height: 300px;
        margin: 20px 0px;
    }

    .div-05-img-01{
        width: 150px;
    }
    
}