*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #f5f5f5;

}

.title-01{
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
}

.title-02{
    text-align: left;
    color: #fff;
    margin: 30px 0px;
    font-family: 'Archivo Black', sans-serif;
}

.content-01{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.div-01-layout{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.div-01-layout img{
    width: 100%;
    height: auto;
}

.div-02-layout{
    width: 100%;
    margin: 50px auto;
}

.div-03-layout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-03{
    width: 360px;
    margin: 0px 30px;
    border-radius: 10px;
}

@media (max-width: 500px){
    .img-03{
        margin: 20px 0px;
    }
}





.div-04-layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
    background-color: #022E40;
    margin: 20px 0px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    position: relative;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 440px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: 350px;
    border-radius: 10px;
  }
  .carousel img:first-child{
    margin-left: 0px;
  }


  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }

    .carousel{
        width: 350px;
      }
  }