*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #f5f5f5;

}

.div-01-layout{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.div-01-body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    background: linear-gradient(rgba(4,9,30,.7),rgba(4,9,30,.7)),url(../IMG/index-img/bg-01.jpg);
    background-size: 100%;
    background-position: 0px -550px;
}

.intro_title{
    width: auto;
    height: auto;
    margin: 20px 20px;
    border: 1px solid #7297A6;
    border-radius: 5px;
}

.intro_title h1{
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    color: #A9CBD9;
    padding: 20px;
}

.text_intro_page{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.text_intro_page_title{
    background: linear-gradient(rgba(4,9,30,.5),rgba(4,9,30,.5));
    padding: 10px 10px;
    border-radius: 5px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 46px;
    color: #346173;
    margin-top: 150px;
    margin-bottom: 150px;
}

.text_intro_page_text{
    width: 1400px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 19px;
    color: #A9CBD9;
    border-radius: 10px;
}

.resume-btn{
    width: 150px;
    height: 40px;
    background-color: #7297A6;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    border-radius: 10px;
    margin: 20px 0px;
    transition: .3s all ease;
}

.resume-btn:hover{
    background-color: #022E40;
    color: #fff;
    cursor: pointer;
}

.next-div-btn{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.devider-next-btn{
    width: 150px;
    height: 2px;
    background-color: #7297A6;
    margin: 0px 50px;
}

.next-div-btn img{
    width: 50px;
    height: 50px;
}

@media (max-width: 1400px){

    .div-01-body{
        background-size: 150%;
        background-position: -370px -550px;
    }

    .intro_title h1{
        font-size: 36px;
    }

    .text_intro_page_title{
        margin-top: 250px;
        margin-bottom: 150px;
    }
    
    .text_intro_page_text{
        width: 1200px;
    }
}

@media (max-width: 1200px){
    .div-01-body{
        background-size: 150%;
        background-position: -280px -450px;
    }

    .text_intro_page_title{
        margin-top: 150px;
        margin-bottom: 50px;
    }

    .text_intro_page_text{
        text-align: center;
        font-size: 17px;
        width: 900px;
    }
}

@media(max-width: 500px){
    .div-01-body{
        background-size: 150%;
        background-position: -110px -0px;
    }

    .intro_title h1{
        font-size: 27px;
        padding: 10px;
    }

    .text_intro_page_title{
        width: 300px;
        font-size: 32px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .text_intro_page_text{
        text-align: center;
        font-size: 16px;
        width: 360px;
    }

    .next-div-btn{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px;
    }
}


.div-02-layout{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.div-02-body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}

.title-div-02{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-div-02 h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 58px;
    color: #346173;
    margin: 20px 0px;
}

.services-options-div{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.service-card-01{
    width: 550px;
    height: 50vh;
    background: linear-gradient(rgba(57,110,156,.5),rgba(57,110,156,.5)), url(../IMG/index-img/services-img-bg/bg-01.jpeg);
    background-size: 180%;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px 10px;
}

.service-card-02{
    width: 550px;
    height: 50vh;
    background: linear-gradient(rgba(57,110,156,.5),rgba(57,110,156,.5)), url(../IMG/index-img/services-img-bg/bg-02.jpeg);
    background-size: 170%;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px 10px;
}

.service-card-03{
    width: 550px;
    height: 50vh;
    background: linear-gradient(rgba(57,110,156,.5),rgba(57,110,156,.5)), url(../IMG/index-img/services-img-bg/bg-03.jpeg);
    background-size: 180%;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px 10px;
}


.service img{
    width: 150px;
    height: 150px;
    margin: 0px 0px;
}

.service h1{
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #f5f5f5;
    margin: 20px 0px;
}

.service p{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 20px;
    color: #f5f5f5;
    margin: 10px 20px;
}

.next-div-btn-02{
    width: 30%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(4,9,30,.2),rgba(4,9,30,.2));
    border-radius: 50px;
    margin: 70px 0px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
}

.next-div-btn-02 img{
    width: 50px;
    height: 50px;
}



@media(max-width: 1400px){
    .service-card-01{
        width: 400px;
        height: 60vh;
        background-size: 200%;
    }
    
    .service-card-02{
        width: 400px;
        height: 60vh;
        background-size: 200%;
    }
    
    .service-card-03{
        width: 400px;
        height: 60vh;
        background-size: 200%;
    }
}

@media(max-width: 1200px){
    .service-card-01{
        width: 320px;
        height: 80vh;
        background-size: 300%;
        margin: 0px 5px;
        border-radius: 0px;
    }
    
    .service-card-02{
        width: 320px;
        height: 80vh;
        background-size: 300%;
        margin: 0px 0px;
        border-radius: 0px;
    }
    
    .service-card-03{
        width: 320px;
        height: 80vh;
        background-size: 300%;
        margin: 0px 5px;
        border-radius: 0px;
    }

    .service h1{
        font-family: 'Archivo Black', sans-serif;
        text-align: center;
        font-size: 32px;
        color: #f5f5f5;
        margin: 20px 0px;
    }
}

@media(max-width: 500px){
    .title-div-02 h1{
        font-family: 'Archivo Black', sans-serif;
        font-size: 46px;
        color: #346173;
        margin: 20px 0px;
    }

    .service-card-01{
        width: 350px;
        height: 100vh;
        background-size: 300%;
        margin: 5px 0px;
        border-radius: 2px;
    }
    
    .service-card-02{
        width: 350px;
        height: 100vh;
        background-size: 300%;
        margin: 0px 0px;
        border-radius: 2px;
    }
    
    .service-card-03{
        width: 350px;
        height: 100vh;
        background-size: 300%;
        margin: 5px 0px;
        border-radius: 2px;
    }

    .service h1{
        font-family: 'Archivo Black', sans-serif;
        text-align: center;
        font-size: 32px;
        color: #f5f5f5;
        margin: 20px 0px;
    }

    .next-div-btn-02{
        width: 90%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(rgba(4,9,30,.2),rgba(4,9,30,.2));
        border-radius: 50px;
        margin: 50px 0px;
        box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
    }
}







.div-03-layout{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.div-03-body{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-03-left{
    border: 3px solid #011826;
    border-radius: 20px;
    width: 400px;
    height: 725px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 16px 24px rgba(0, 0, 0, 0.4);
}

.a12{
    font-size: 200px;
    color: #346173;
}

.so{
    font-size: 40px;
    color: #346173;
}

.div-03-right{
    width: 700px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.card{
    background-color: #f5f5f5;
    border: 1px solid #7297A6;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; 
    box-shadow: 8px 16px 24px rgba(0, 0, 0, 0.4);
}

.card-img{
    width: 100%;
    height: auto;
    background-color: #7297A6;
}

.card img{
    width: 70px;
    height: 80px;
    margin: 0px 20px;
    padding: 5px 0px;
}


.card-03,
.card-04{
    margin: 25px 0px;
}

.card-title{
    font-size: 30px;
    text-align: center;
    color: #346173;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

.card-text-content{
    width: 250px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 15px;
}

.next-div-btn-03{
    width: 30%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(4,9,30,.2),rgba(4,9,30,.2));
    border-radius: 50px;
    margin: 70px 0px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
}

.next-div-btn-03 img{
    width: 50px;
    height: 50px;
}

@media (max-width: 1200px){
    .div-03-left{
        border: 3px solid #011826;
        width: 400px;
        height: 725px;
        margin: 0px 10px;
    }

    .a12{
        font-size: 150px;
        color: #346173;
    }
    

    .card{
        background-color: #f5f5f5;
        border: 1px solid #7297A6;
        border-radius: 20px;
        width: 300px;
        height: 350px;
    }
}



@media(max-width: 500px){

    .div-03-body{
        flex-direction: column;
    }

    .div-03-left{
        width: 350px;
        height: 325px;
        margin: 20px 0px;
    }

    .a12{
        font-size: 150px;
    }

    .so{
        font-size: 30px;
        color: #346173;
    }

    .div-03-right{
        width: 375px;
        height: auto;
    }

    .card{
        width: 350px;
        margin: 10px 0px;
    }

    .next-div-btn-03{
        width: 90%;
    }
}





.div-04-layout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    overflow: hidden;
}

.div-04-body{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-04-body-img{
    width: 240%;
    height: 200px;
    background: linear-gradient(rgba(4,9,30,.5),rgba(4,9,30,.5)), url(../IMG/img-03.jpg);
    background-size: 100%;
    background-position: 0px -1000px;
    overflow: hidden;
}

.div-04-body-img img{
    width: 100%;
    display: none;
}

.div-04-text{
    width: 750px;
    margin: 20px 20px;
}

.div-04-title-01{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    color: #346173;
    margin-bottom: 20px;
}

.div-04-text-01{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #4B4A38;
}

.div-04-text-02{
    margin: 20px 20px;
    font-family: 'Archivo Black', sans-serif;
    line-height: 30px;
    color: #346173;
}

.div-04-text-03{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #4B4A38;
}

@media (max-width: 1600px){
    .div-04-body img{
        width: 500px;
    }
}

@media (max-width: 1400px){
    .div-04-body{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
    }

    .div-04-body img{
        width: 500px;
    }

    .div-04-text{
        width: 450px;
        margin: 20px 20px;
    }
}


@media (max-width: 500px){

    .div-04-layout{
        margin: 20px 0px;
    }

    .div-04-body{
        flex-direction: column;
    }

    .div-04-body img{
        width: 370px;
    }

    .div-04-text{
        width: 350px;
        margin: 20px 0px;
    }
}

.wddp-layout{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wddp-body{
    max-width: 1920px;
}

.top-wddp-div h1{
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    color: #346173;
    margin: 20px 20px;
}

.devider{
    width: 600px;
    height: 2px;
    background-color: #A9CBD9;
    position: relative;
    left: 33.5%;
    margin: 10px 10px;
}

.top-wddp-div p{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    padding: 0px 20%;
}

.bottom-wddp-div{
    display: flex;
    align-items: center;
    justify-content: center ;
    margin: 20px 0px;
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 80px;
}
.bottom-wddp-div img{
    width: 70px;
}

.bottom-wddp-div h1{
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

@media (max-width: 1400px){
    .devider{
        width: 50%;
        left: 0%;
        margin: 1% 25%;
    }

}

@media (max-width: 500px){
    .wddp-body{
        max-width: 380px;
    }

    .top-wddp-div p{
        padding: 10px;
    }

    .devider{
        width: 300px;
        left: 7%;
        margin: 10px 10px;
    }

    .bottom-wddp-div{
        display: flex;
        align-items: center;
        justify-content: center ;
        margin: 20px 0px;
    }
    

    .icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 15px;
    }

    .bottom-wddp-div img{
        width: 40px;
    }

}


.div-05-layout{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-05-card{
    width: 370px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #346173;
    border-radius: 20px;
    overflow: hidden;
    margin: 0px 20px;
}

.div-05-title-01{
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    color: #346173;
    margin: 20px 10px;
}

.div-05-img-01{
    width: 200px;

}

.check-btn{
    width: 150px;
    height: 40px;
    background-color: #7297A6;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    border-radius: 10px;
    margin: 20px 0px;
    transition: .3s all ease;
}

.check-btn:hover{
    background-color: #022E40;
    color: #fff;
    cursor: pointer;
}



.subscribe{
    width: 100%;
    background-color: #346173;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
    overflow: hidden;
}

.subscribe-body{
    max-width: 1920px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe-body h1{
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color: #A9CBD9;
}

.subscribe-body p{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #A9CBD9;
}

.subscribe-body input{
    width: 300px;
    padding: 10px; 
    border: 2px solid #A9CBD9;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 20px;
}

.subscribe-body input:hover{
    border-color: #555;
}

.subscribe-body input:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.subscribe-body button{
    background-color: #A9CBD9;
    color: #000;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    margin: 10px 0px;
}

.subscribe-body button:hover{
    background-color: #011826;
    color: #fff;
    transition: .3s;
}

@media (max-width: 500px){
    .div-05-layout{
        flex-direction: column;
    }

    .div-05-card{
        width: 300px;
        height: 300px;
        margin: 20px 0px;
    }

    .div-05-img-01{
        width: 150px;
    }
    
}