<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Document</title>
</head>
<body>
    
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LDKZMTN39K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LDKZMTN39K');
</script>

    <div class="div-01-layout">
        <div class="div-01-profile-card">

            <div class="profile-pic">
                <img src="/static/IMG/left-img/profile-pic.jpeg" alt="">
            </div>

            <div class="profile-pic-icons">
                <img src="/static/IMG/left-img/pic-01.png" alt="">
                <img src="/static/IMG/left-img/pic-02.png" alt="">
                <img src="/static/IMG/left-img/pic-03.png" alt="">
                <img src="/static/IMG/left-img/pic-04.png" alt="">
            </div>

            <div class="ca-btn">
                <a href="/past-work-index"><button class="go-btn">Explore My Work</button></a>
                <a href="/services"><button class="go-btn">Let's Collaborate</button></a>
            </div>
        </div>

        <div class="div-01-right-card">

            <div class="introduction">
                <h1>Hi,<br>I'm Anderson Romano</h1>
            </div>

            <h1 class="right-title">I Create Web Experiences.</h1>

            <p class="right-intro-text">Super dedicated full-stack developer devoted to creating seamless web experiences. With a strong focus on building user-friendly front-end interfaces and robust back-end systems, I'm skilled at turning innovative ideas into reality. My tech stack includes HTML, CSS, JavaScript, React, Node.js, and more. Let's bring your digital projects to life, explore my work and let's collaborate!</p>

            <a href="/web-resume"><button class="resume-btn">See Resume</button></a>
        </div>
    </div>


    
    <div class="div-03-layout">
        
        <div class="div-03-left">
            <h1 class="a12">12+</h1>
            <h1 class="so">Services Offered</h1>
        </div>

        <div class="div-03-right">
            <div class="card card-01">
                <h1 class="card-title">Web Portfolio</h1>
                <p class="card-text-content">Are you looking to showcase your work and skills in a stunning professional manner? Discover the power of a well-crafted web portfolio!</p>
            </div>

            <div class="card card-02">
                <h1 class="card-title">Website Maintenance</h1>
                <p class="card-text-content">Let us take care of your website, so you can focus on your business. Ensure your online presence remains flawless with our expert maintenance services!</p>
            </div>

            <div class="card card-03">
                <h1 class="card-title">E-Commerce</h1>
                <p class="card-text-content">Ready to take your online store to the next level? Elevate your e-commerce store and watch your online business thrive with our expert solutions!</p>
            </div>

            <div class="card card-04">
                <h1 class="card-title">Web Apps</h1>
                <p class="card-text-content">Empower Your Business with Custom Web Applications. From Concept to Code, We Bring Your Ideas to Life!</p>
            </div>

        </div>
    </div>





    <div class="div-04-layout">
        
        <div class="div-04-body">
            <img src="/static/IMG/img-03.jpg" alt="">

            <div class="div-04-text">
                <h1 class="div-04-title-01">Unlock the Full Spectrum of Creativity</h1>
                <p class="div-04-text-01">At VFX Observatory, there's more than just a web development expert. I offer a wide range of creative services to enhance your digital presence and beyond:</p>
                <p class="div-04-text-02">Graphic Design<br>
                                            Video Editing<br>
                                                Photography<br>
                                                    Social Media Services</p>

                <p class="div-04-text-03">With my comprehensive suite of creative services, you can trust VFX Observatory to bring your digital presence to life in every way possible. Let me help you shine in the online world and beyond.</p>
            </div>
        </div>
    </div>

    <div class="wddp-layout">
        <div class="wddp-body">
            <div class="top-wddp-div">
                <h1>I design digital products</h1>
                <div class="devider"></div>
                <p>Whether it's your brand, your product, or your groundbreaking idea, it's a journey worth pursuing. I'm dedicated to forging pathways for top-tier brands, startups, and visionary innovators, enabling them to shape the world.</p>
            </div>

            <div class="bottom-wddp-div">
                <div class="icons">
                    <img src="/static/IMG/idea.png" alt="">
                    <h1>Idea</h1>
                </div>

                <div class="icons">
                    <img src="/static/IMG/design.png" alt="">
                    <h1>Design</h1>
                </div>

                <div class="icons">
                    <img src="/static/IMG/development.png" alt="">
                    <h1>Development</h1>
                </div>

                <div class="icons">
                    <img src="/static/IMG/growth.png" alt="">
                    <h1>Growth</h1>
                </div>
            </div>
        </div>
    </div>
    
    <div class="div-05-layout">

        <div class="div-05-card">

            <h1 class="div-05-title-01">Assets Library!</h1>
    
            <img class="div-05-img-01" src="/static/IMG/right-div-05.gif" alt="">

            <a href="/asset-library"><button class="check-btn">Check Out Now</button></a>

        </div>

        <div class="div-05-card">

            <h1 class="div-05-title-01">Photography Portfolio</h1>
    
            <img class="div-05-img-01" src="/static/IMG/right-div-05-02.gif" alt="">

            <a href="/photography"><button class="check-btn">Check Out Now</button></a>

        </div>

        <div class="div-05-card">

            <h1 class="div-05-title-01">Graphic Design Portfolio</h1>
    
            <img class="div-05-img-01" src="/static/IMG/right-div-05-03.gif" alt="">

            <a href="/graphic-design"><button class="check-btn">Check Out Now</button></a>

        </div>
    </div>

    <div class="subscribe">
        <div class="subscribe-body">
            <h1>SUBSCRIBE</h1>
            <p>Sign up for our Newsletter.</p>
            <input type="email" class="email" placeholder="Type your e-mail here...">
            <a href="#"><button>SUBSCRIBE</button></a>
        </div>
    </div>


</body>
</html>
