<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/ocs.css">
    <title>Dive IN</title>
</head>
<body>

    <div class="div-01-layout">

        <div class="card card-01">
    
            <h1 class="title-01">Design Experience</h1>
            <div class="devider"></div>
            <p class="card-description-01"><span class="highlighted">Introduction:</span> 
                The website boasts an intuitive design for effortless navigation, ensuring a smooth and enjoyable user experience. Its layout is both sleek and professional, with an emphasis on a soothing color palette. The use of Google Fonts and Typekit enhances the visual appeal and readability of the text, contributing to an overall polished and engaging website aesthetic.</p>
            <p class="card-description-01"><span class="highlighted">Font Selection:</span> Carefully chosen fonts like DM Serif Display, Josefin Sans, and Montserrat to enhance readability and create a soothing visual experience.</p>
        </div>
    
        <div class="card card-02">
    
            <h1 class="title-01">Navigation Bar</h1>
            <div class="devider"></div>
            <p class="card-description-01"><span class="highlighted">Clear and intuitive</span> navigation with links to key pages such as "Home," "Services," "Blog," and "Request Estimate.</p>
        </div>
    
        <div class="card card-03">
    
            <h1 class="title-01">Mission Statement</h1>
            <div class="devider"></div>
            <p class="card-description-01">At One Climate Sourcewe have a compelling mission statement:</p>
            <p class="card-description-01"><span class="highlighted">Compassion in Action:</span> At One Source Climate, our mission is to be your trusted partner in creating comfortable, healthy, and energy-efficient living environments. Through years of licensed and insured expertise, we specialize in providing top-rated HVAC services tailored to the unique climate of Atlanta and Metro Atlanta.</p>
        </div>
    
        <div class="card card-01">
    
            <h1 class="title-01">Services Page</h1>
            <div class="devider"></div>
            <p class="card-description-01"><span class="highlighted">Introduction:</span> Highlights various HVAC services provided by One Source Climate, including installation, repair, ductwork services, heating and cooling services, ventilation services, indoor air quality services, thermostat installation, energy efficiency upgrades, zoning services, refrigerant services, and commercial HVAC services.</p>
            <p class="card-description-01"><span class="highlighted">Highlighted Services:</span> Each service is accompanied by a description to inform visitors about the range of expertise offered.</p>
        </div>
    
        <div class="card card-04">
    
            <h1 class="title-01">Contact Information:</h1>
            <div class="devider"></div>
            <p class="card-description-01"><span class="highlighted">Call to Action:</span> Contact details are prominently displayed, including a phone number and email address, reinforcing accessibility.</p>
        </div>
    
        <div class="card card-05">
    
            <h1 class="title-01">Responsive Design:</h1>
            <div class="devider"></div>
            <p class="card-description-01"><span class="highlighted">Responsiviness:</span> The use of a responsive design is implied by the inclusion of a meta viewport tag, ensuring the website adapts well to different device screen sizes.</p>
        </div>
    
        <div class="card card-06">
    
            <h1 class="title-01"> Blog Page:</h1>
            <div class="devider"></div>
            <p class="card-description-01"><span class="highlighted">Informational Cards:</span> Showcases articles on HVAC-related topics, providing valuable information to visitors.</p>
            <p class="card-description-01"><span class="highlighted">Informational Cards:</span> Features specific articles on topics such as keeping A/C air filters clean, identifying HVAC problems, and when to call for AC repairs or replacement.</p>

        </div>
    
        <div class="card card-07">
    
            <h1 class="title-01">Footer</h1>
            <div class="devider"></div>
            <p class="card-description-01"><span class="highlighted">Easy Navigation:</span>  The footer provides quick links for easy navigation, including social media links to foster online community engagement.</p>
        </div>
    </div>
    
</body>
</html>
