<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap">
    <link rel="stylesheet" href="/static/css/past-work-index.css">
    <title>Works Home Page</title>
</head>
<body>

        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LDKZMTN39K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LDKZMTN39K');
</script>
   

    <div class="div_01_layout">

        <div class="card card-01">

            <h1 class="title-01">STATIC WEBSITES</h1>
            <p class="hv">HOVER FOR MORE</p>

            <div class="overlay_transition">
                <h1 class="title-01-1">What's a Static Website?</h1>
                <p class="content-01">A static website features fixed content that doesn't change unless manually updated by a developer. It's a simple, information-focused site that provides the same content to all users. Unlike dynamic websites, it doesn't generate content on the spot or support real-time interactions.</p>
                <a href="/past-work-01" class="go_btn">See Work</a>
            </div>

        </div>


        <div class="card card-02">

            <h1 class="title-02">E-COMMERCE WEBSITES</h1>
            <p class="hv">HOVER FOR MORE</p>

            <div class="overlay_transition_02">
                <h1 class="title-01-2">What's a E-Commerce Website?</h1>
                <p class="content-01">An e-commerce website is an online platform where businesses showcase and sell products or services, and customers can browse, select items, and make secure purchases over the internet. It offers a convenient and efficient way to shop and conduct transactions online.</p>
                <a href="/past-work-01" class="go_btn">See Work</a>
            </div>

        </div>
    </div>

    <div class="return-btn">
        <a href="/index">Return Home</a>
    </div>
    
</body>
</html>
