<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap">
    <link rel="stylesheet" href="/static/css/past-web-dev-work.css">
    <title>Past Works</title>
</head>
<body>


        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LDKZMTN39K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LDKZMTN39K');
</script>


    
    <div class="div-01-intro">
        <h1 class="title-01">Static <br>Websites</h1>
    </div>

    <div class="div-01-layout">
        <a class="return_btn_01" href="/index">Return to Home Page</a>

        <div class="card-body">

            <div class="image-container">
                <img class="image-container-img" src="static/IMG/past-work-img/card-01-im.png" alt="zencounseling-img">
                <div class="overlay">
                    <a class="title" href="http://zencounseling.me">Zen Counseling</a>
                </div>
            </div>

            <div class="card-text-01">
                <h1 class="title-02">Zen Counseling Website</h1>
                <p class="card-description">Hello everyone, I'm excited to present the therapist's website that we have been building for Zen Counseling. This website is designed to provide a warm and inviting online space for individuals seeking therapeutic support. Let's dive into the key features and elements that make this website stand out.</p>
                <a href="/zc"><button class="go-btn">Dive in</button></a>
            </div>
        </div>

        <div class="card-body">

            <div class="image-container">
                <img class="image-container-img" src="static/IMG/past-work-img/card-02-im.png" alt="zencounseling-img">
                <div class="overlay">
                    <a class="title" href="http://onesourceclimate.me">One Source Climate</a>
                </div>
            </div>

            <div class="card-text-01">
                <h1 class="title-02">One Source Climate</h1>
                <p class="card-description">Engineered a dynamic website for One Source Climate, specializing in HVAC and gutter cleaning services, connecting local businesses with the community. Crafted an intuitive user interface, prioritizing seamless navigation for visitors seeking local services. Contributed to the development of innovative features aimed at enhancing the overall user experience on the platform.</p>
                <a href="/osc"><button class="go-btn">Dive in</button></a>
            </div>
        </div>


    </div>



    
</body>
</html>
