<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap">
    <link rel="stylesheet" href="/static/css/photography-portfolio.css">
    <title>Document</title>
</head>
<body>
    
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LDKZMTN39K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LDKZMTN39K');
</script>


    <div class="div-01-layout">
        <img class="bg-01" src="/static/IMG/photography-port-img/bg-01.JPG" alt="">
    </div>

    <div class="div-02-layout">

        <h1 class="title-01">Welcome</h1>
        <p class="content-01">Here you can find the latest pictures by VFX Observatory</p>

    </div>

    <div class="div-03-layout">
        <img src="/static/IMG/photography-port-img/slider-01/hardrock-01.jpg" alt="" class="img-03">
        <img src="/static/IMG/photography-port-img/slider-01/hardrock-02.jpg" alt="" class="img-03">
        <img src="/static/IMG/photography-port-img/slider-01/hardrock-03.jpg" alt="" class="img-03">
    </div>


    <div class="div-04-layout">

        <div class="slider-wrapper">

            <div class="image-list">
                <img src="/static/IMG/photography-port-img/slider-02/atl-01.jpg" alt="" class="image-item">
                <img src="/static/IMG/photography-port-img/slider-02/atl-02.jpg" alt="" class="image-item">
                <img src="/static/IMG/photography-port-img/slider-02/atl-03.jpg" alt="" class="image-item">
                <img src="/static/IMG/photography-port-img/slider-02/atl-04.jpg" alt="" class="image-item">
                <img src="/static/IMG/photography-port-img/slider-02/atl-05.jpg" alt="" class="image-item">
            </div>
        </div>

        <div class="slider-scrollbar">
            <div class="scrollbar-track">
                <div class="scrollbar-thumb"></div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="slider-wrapper">
          <button id="prev-slide" class="slide-button material-symbols-rounded">
            chevron_left
          </button>
          <ul class="image-list">
            <img class="image-item" src="/static/IMG/photography-port-img/slider-02/atl-01.jpg" alt="img-1" />
            <img class="image-item" src="/static/IMG/photography-port-img/slider-02/atl-02.jpg" alt="img-2" />
            <img class="image-item" src="/static/IMG/photography-port-img/slider-02/atl-03.jpg" alt="img-3" />
            <img class="image-item" src="/static/IMG/photography-port-img/slider-02/atl-04.jpg" alt="img-4" />
            <img class="image-item" src="/static/IMG/photography-port-img/slider-02/atl-05.jpg" alt="img-5" />
          </ul>
          <button id="next-slide" class="slide-button material-symbols-rounded">
            chevron_right
          </button>
        </div>
        <div class="slider-scrollbar">
          <div class="scrollbar-track">
            <div class="scrollbar-thumb"></div>
          </div>
        </div>
      </div>


</body>
</html>