<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap">
    <link rel="stylesheet" href="/static/css/resume.css">
    <title>Document</title>
</head>
<body>

    <div class="div-01-layout">

        <div class="div-01-body">
            <h1 class="div-01-title">RESUME<br><span class="div-01-text-content-01">UPDATED REGULARLY</span></h1>
        </div>
    </div>



    <div class="div-02-layout">

        <div class="div-02-title">

            <div class="div-02-profile-pic">
                <img src="/static/IMG/reume-pics/profile-pic-01.jpg" alt="">
            </div>

            <div class="right-div-02">

                <h1 class="div-02-title-01">Anderson Romano</h1>
                <p class="div-02-content-01">FULL STACK <span class="content-01-span">DEVELOPER</span></p>
            </div>

            <div class="left-div-02">

                <h1 class="div-02-title-02">Address : <span class="title-02-span">3280 Peachtree, Atlanta, GA</span></h1>
                <h1 class="div-02-title-02">E-Mail : <span class="title-02-span">andersonusa18@icloud.com</span></h1>
                <h1 class="div-02-title-02">Phone : <span class="title-02-span">(404) 573 - 0451</span></h1>

            </div>
        </div>
        
        <div class="devider-01"></div>

    </div>

    <div class="div-03-layout">

        <div class="left-div-03">

            <h1 class="title-03">Education :</h1>

            <h1 class="div-03-title-02">PUC-GO /BRAZIL : <span class="title-03-span"> AA, GRAPHIC DESIGN</span></h1>
            <h1 class="div-03-title-02">UNIP /BRAZIL : <span class="title-03-span"> BFA, Cinematography and Film/Video Production</span></h1>
        </div>

        <div class="right-div-03">

            <h1 class="title-03">Profile :</h1>

            <h1 class="div-03-title-03">Hey There, <span class="title-04-span">I'm a 23-year-old Brazilian with a background in graphic design and video/film production. I've also taken on the challenge of teaching myself full-stack web development. Plus, I've got some premium skills in all things Microsoft Office – I really know my way around those tools.</span></h1>
        </div>
        
    </div>

    <div class="devider-01"></div>


    <div class="div-05-layout">
        <div class="card01 card-01">
            <h1>Zen Counseling International / <br><span class="sub-text">WEB DEVELOPER</span></h1>
            <p class="duration">September, 2023 to Present</p>
            <p class="description-div-05">Engineered Zen Counseling's website with responsive design using HTML, CSS, and JavaScript. Optimized typography with Google Fonts and Typekit. Implemented a sleek navigation bar with a burger menu for mobile accessibility. Crafted a compelling mission statement using HTML/CSS and incorporated individualized therapy service cards. Employed back-end technologies for dynamic content display, potentially using a CMS. Integrated a clear call to action for appointment requests with HTML forms and client-side validation. Showcased colleague endorsements dynamically with back-end scripting. Utilized JavaScript frameworks for interactive therapy practice cards. Implemented server-side technologies for efficient appointment handling. Organized the footer with quick navigation links and social media integration using backend scripting and potentially APIs.</p>
            <p class="ltb">Hosted at <a href="http://zencounseling.arv2.net">http://zencouseling.arv2.net</a></p>
            <button class="collapse-btn" onclick="toggleContent('description-div-05')">See More</button>
        </div>



        <div class="card01 card-02">
            <h1>One Source Climate / <br><span class="sub-text">WEB DEVELOPER</span></h1>
            <p class="duration">September, 2023 to Present</p>
            <p class="description-div-05-01">Crafted a responsive website using HTML and CSS, focused on showcasing products and services. Incorporated a sleek design with Google Fonts and Typekit for enhanced readability. Sections include design experience, navigation bar, mission statement, services, contact details, responsive design, blog, and a footer for easy navigation and social media links. Special emphasis on the blog page with informational cards offering maintenance tips and individual cards detailing each service. Responsiveness ensured through a meta viewport tag.</p>
            <p class="ltb">Hosted at <a href="http://onesourceclimate.arv2.net">http://onesourceclimate.arv2.net</a></p>
            <button class="collapse-btn" onclick="toggleContent('description-div-05-01')">See More</button>
        </div>



        <div class="card01 card-02">
            <h1>G Lux / <br><span class="sub-text">WEB DEVELOPER</span></h1>
            <p class="duration">July, 2023 to Present</p>
            <p class="description-div-05-02">Crafted a responsive website using HTML and CSS, focused on showcasing products and services. Incorporated a sleek design with Google Fonts and Typekit for enhanced readability. Sections include design experience, navigation bar, mission statement, services, contact details, responsive design, blog, and a footer for easy navigation and social media links. Special emphasis on the blog page with informational cards offering maintenance tips and individual cards detailing each service. Responsiveness ensured through a meta viewport tag.</p>
            <p class="ltb">Hosted at <a href="http://glux.arv2.net">http://glux.arv2.net</a></p>
            <button class="collapse-btn" onclick="toggleContent('description-div-05-02')">See More</button>
        </div>

    </div>


    <script src="/static/js/index.js"></script>
</body>
</html>