<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap">
    <link rel="stylesheet" href="/static/css/resume.css">
    <title>Document</title>
</head>
<body>

    <div class="div-01-layout">

        <div class="div-01-body">
            <h1 class="div-01-title">RESUME<br><span class="div-01-text-content-01">UPDATED REGULARLY</span></h1>
        </div>
    </div>



    <div class="div-02-layout">

        <div class="div-02-title">

            <div class="div-02-profile-pic">
                <img src="/static/IMG/reume-pics/profile-pic-01.jpg" alt="">
            </div>

            <div class="right-div-02">

                <h1 class="div-02-title-01">Anderson Romano</h1>
                <p class="div-02-content-01">FULL STACK <span class="content-01-span">WEB DEVELOPER</span></p>
            </div>

            <div class="left-div-02">

                <h1 class="div-02-title-02">Address : <span class="title-02-span">3280 Peachtree, Atlanta, GA</span></h1>
                <h1 class="div-02-title-02">E-Mail : <span class="title-02-span">andersonusa18@icloud.com</span></h1>
                <h1 class="div-02-title-02">Phone : <span class="title-02-span">(404) 573 - 0451</span></h1>

            </div>
        </div>
        
        <div class="devider-01"></div>

    </div>

    <div class="div-03-layout">

        <div class="left-div-03">

            <h1 class="title-03">Education :</h1>

            <h1 class="div-03-title-02">PUC-GO /BRAZIL : <span class="title-03-span"> AA, <br>GRAPHIC DESIGN</span></h1>
            <h1 class="div-03-title-02">UNIP /BRAZIL : <span class="title-03-span"> BFA, <br>Cinematography and Film/Video Production</span></h1>
        </div>

        <div class="right-div-03">

            <h1 class="title-03">Profile :</h1>

            <h1 class="div-03-title-03">Hey There, <span class="title-04-span">I'm a 23-year-old Brazilian with a background in graphic design and video/film production. I've also taken on the challenge of teaching myself full-stack web development. Plus, I've got some premium skills in all things Microsoft Office – I really know my way around those tools.</span></h1>
        </div>
        
    </div>

    <div class="devider-01"></div>


    <div class="div-05-layout">

        <div class="div-05-body">

            <div class="card card-01">
                <h1 class="Organization">Zen Counseling International</h1>
                <h1 class="position">Web Developer</h1>
                <p class="dates">Sep, 20203 / Present</p>
                <p class="web-host"><a href="http://zencouseling.arv2.net">http://zencouseling.arv2.net</a></p>
                <a href="/zc" class="seemore"> See More</a>
            </div>


            <div class="card card-02">
                <h1 class="Organization">One Source Climate</h1>
                <h1 class="position">Web Developer</h1>
                <p class="dates">Sep, 20203 / Present</p>
                <p class="web-host"><a href="http://onesourceclimate.arv2.net">http://onesourceclimate.arv2.net</a></p>
                <a href="/osc" class="seemore"> See More</a>
            </div>

            <div class="card card-03">
                <h1 class="Organization">G LUX Automotive</h1>
                <h1 class="position">Web Developer</h1>
                <p class="dates">Jul, 20203 / Present</p>
                <p class="web-host"><a href="http://gluxautomotive.arv2.net">http://gluxautomotive.arv2.net</a></p>
                <a href="#" class="seemore"> See More</a>
            </div>
        </div>
    </div>

    <div class="div-06-layout">
        <a href="/index">Return Home</a>
    </div>

    <script src="/static/js/index.js"></script>
</body>
</html>