<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap">

    <meta name="description" content="Explore my graphic design portfolio, showcasing professional and polished creations. Based in Atlanta, Georgia, I bring over 5 years of experience to the table. From logos to marketing materials, each design is crafted with precision and attention to detail. Let's work together to elevate your brand's visual identity. Take a glimpse into my portfolio and envision the possibilities.">
    <meta name="keywords" content="Graphic design portfolio, Professional designer, Atlanta graphic designer, Creative design solutions, Brand identity design, Logo design services, Marketing collateral design, Print design expertise, Digital design portfolio, Visual branding specialist, Custom design solutions, Professional graphic artist, Experienced design professional, High-quality design portfolio, Atlanta-based design services, Eye-catching design work, Branding and identity design, Creative graphic design services, Unique design concepts, Affordable graphic design services">
    <meta name="author" content="Anderson Romano">
    <meta name="robots" content="graphic-design-portfolio, follow">

    {% load static %}
    <link rel="stylesheet" href="/static/css/graphic-desdign-portfolio.css">
    <title>Graphic Design Portfolio</title>
</head>
<body>
    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-39BGKYJDFM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-39BGKYJDFM');
</script>

    <div class="div-01-layout">
        <h1 class="title-01">GRAPHIC DESIGN</h1>
    </div>

    <div class="div-02-layout">
        <div class="div-02-body">

            <div class="title-div-02">
                <h1>TRENDING TEMPLATES</h1>
            </div>

        </div>

        <div class="devider-01"></div>

    </div>

    <div class="div-03-layout">
        <div class="div-03-body">

            <div class="flyers-div-title">

                <div class="number-title-01">
                    <h1 class="n_1">1</h1>
                    <h1 class="flyer-design">Flyers<br>Design</h1>
                    <button id="toggleButton_01" class="rotateButton-01" onclick="HideShow_01()">
                        <img src="{% static 'IMG/graphic-design-portfolio/icons-01/arrow-down.png' %}" alt="">
                    </button>
                </div>

                <div class="flyer-div-description" id="flyer-div-description">
                    <div class="description-01">
                        <h1>GENERAL APPLICATIONS:</h1>
                        <p><strong>Spreading Awareness:</strong> Are great for creating initial brand awareness or promoting a new product, service, or event.</p>
                        <p><strong>Targeted Marketing:</strong> Can be distributed strategically in locations frequented by your target audience.</p>
                        <p><strong>Call to Action:</strong> Include clear calls to action, encouraging recipients to visit a website, make a purchase, or attend an event.</p>
                    </div>

                    <div class="description-01">
                        <h1>INDUSTRY-SPECIFIC USES:</h1>
                        <p><strong>Retail & Restaurants:</strong> Announce new sales, promote special offers, highlight seasonal menus, or advertise upcoming events.</p>
                        <p><strong>Local Businesses:</strong> Promote local shops, restaurants, or service providers within the community.</p>
                        <p><strong>Professional Services:</strong> Promote legal, financial, or consulting services, or highlight areas of expertise.</p>
                    </div>

                    <div class="description-01">
                        <h1>WANTED BY INDUSTRY:</h1>
                        <p><strong>Target Audience:</strong> Tailor the design, language, and visuals to resonate with your specific audience.</p>
                        <p><strong>Visual Appeal:</strong> Use high-quality images, colors, and graphics that are relevant to your industry.</p>
                        <p><strong>Information Hierarchy:</strong> Present key information clearly and concisely, prioritizing call to actions.</p>                    
                    </div>
                </div>
            </div>

            <div class="designs-samples-layout">
                <div class="design-samples-div">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-01.png' %}" alt="">
                </div>
    
                <div class="design-samples-div">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-02.png' %}" alt="">
                </div>
    
                <div class="design-samples-div">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-03.png' %}" alt="">
                </div>
            </div>

        </div>
    </div>

    <div class="div-04-layout">
        <div class="div-04-body">

            <div class="business-proposal-div-title">
                
                <div class="number-title-02">
                    <h1 class="n_2">2</h1>
                    <h1 class="business-proposal-design">Business<br>Proposal<br>Design</h1>
                    <button id="toggleButton_02" class="rotateButton-02" onclick="HideShow_02()">
                        <img src="{% static 'IMG/graphic-design-portfolio/icons-01/arrow-down.png' %}" alt="">
                    </button>
                </div>

                <div class="business-proposal-div-description" id="business-proposal-div-description">
                    <div class="description-02">
                        <h1>GENERAL APPLICATIONS:</h1>
                        <p><strong>Brand Storytelling:</strong> Brochures tell your brand story in a captivating way, highlighting your values, history, and mission. This fosters deeper connections with potential customers.</p>
                        <p><strong>Lead Nurturing:</strong> Distribute brochures at networking events or include them in welcome packages for new customers. This keeps your brand top-of-mind throughout the buying journey.</p>
                        <p><strong>Detailed Product Information:</strong> Unlike packaging, brochures can delve deeper into product features, benefits, specifications, and user guides.</p>
                    </div>

                    <div class="description-02">
                        <h1>INDUSTRY-SPECIFIC USES:</h1>
                        <p><strong>Education:</strong> Create separate brochures for prospective students, parents, and alumni. Highlight unique programs, extracurricular activities, and career services.</p>
                        <p><strong>Technology & Software:</strong> Use clear infographics and diagrams to explain complex features. Emphasize the impact your technology can have on a user's workflow or business goals.</p>
                        <p><strong>Professional Services:</strong> Include case studies that showcase your problem-solving abilities and highlight specific industry expertise. Feature profiles of team members and their qualifications.</p>
                    </div>

                    <div class="description-02">
                        <h1>WANTED BY INDUSTRY:</h1>
                        <p><strong>Education:</strong> Highlight unique aspects of your institution, awards, or faculty achievements. Showcase student success stories and career opportunities.</p>
                        <p><strong>Technology & Software:</strong> Translate complex features into clear benefits that resonate with the user. Offer free trials or demos to encourage further exploration</p>
                        <p><strong>Professional Services:</strong> Quantify the impact of your services using data and testimonials. Help potential clients understand how you can add value to their business.</p>                    
                    </div>
                </div>
            </div>

            <div class="designs-samples-layout-02">
                <div class="design-samples-div-02">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-04.jpg' %}" alt="">
                </div>
    
                <div class="design-samples-div-02">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-05.jpg' %}" alt="">
                </div>
    
                <div class="design-samples-div-02">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-06.jpg' %}" alt="">
                </div>

                <div class="design-samples-div-02">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-07.jpg' %}" alt="">
                </div>
    
                <div class="design-samples-div-02">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-08.jpg' %}" alt="">
                </div>
    
                <div class="design-samples-div-02">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-09.jpg' %}" alt="">
                </div>

                <div class="design-samples-div-02">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-10.jpg' %}" alt="">
                </div>
    
                <div class="design-samples-div-02">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-11.jpg' %}" alt="">
                </div>
    
                <div class="design-samples-div-02">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-12.jpg' %}" alt="">
                </div>

            </div>

        </div>

    </div>

    <div class="div-05-layout">
        <div class="div-05-body">

            <div class="store-advertizing-div-title">
                
                <div class="number-title-03">
                    <h1 class="n_3">3</h1>
                    <h1 class="store-advertizing-design">Store<br>Advertizing<br>Proposal</h1>
                    <button id="toggleButton_03" class="rotateButton-03" onclick="HideShow_03()"><img src="{% static 'IMG/graphic-design-portfolio/icons-01/arrow-down.png' %}" alt=""></button>
                </div>

                <div class="store-advertizing-div-description" id="store-advertizing-div-description">
                    <div class="description-03">
                        <h1>GENERAL APPLICATIONS:</h1>
                        <p><strong>Sharing Your Story:</strong> Store advertising proposals help tell people what your store is all about and why they should care. It's like introducing yourself to them and making a connection.</p>
                        <p><strong>Getting People Interested:</strong> These proposals are like invitations to come check out your store. They help grab people's attention and get them excited about what you have to offer.</p>
                        <p><strong>Getting People Involved:</strong> With store advertising proposals, you can create fun and interesting ways for people to interact with your store. It's like inviting them to join in on the fun and be part of something special.</p>
                    </div>

                    <div class="description-03">
                        <h1>INDUSTRY-SPECIFIC USES:</h1>
                        <p><strong>Emphasizing Health and Wellness:</strong> In fitness centers or health food stores, proposals showcase the store's commitment to well-being with amenities, classes, and products promoting a healthy lifestyle.</p>
                        <p><strong>Entertainment and Recreation:</strong> Proposals for amusement parks or theaters highlight memorable experiences and fun activities for relaxation and enjoyment.</p>
                        <p><strong>Highlighting Unique Offerings:</strong> In retail, proposals emphasize exclusive products, personalized services, or special events that distinguish the store from competitors.</p>
                    </div>

                    <div class="description-03">
                        <h1>WANTED BY INDUSTRY:</h1>
                        <p><strong>Tourism and Hospitality:</strong> Hotels and travel agencies desire proposals that highlight unique travel experiences, accommodations, and attractions, enticing potential guests to book their next getaway.</p>
                        <p><strong>Retail Customer Engagement:</strong> Retailers seek proposals that focus on customer engagement strategies, loyalty programs, and personalized shopping experiences, aiming to drive foot traffic and increase sales.</p>
                        <p><strong>Food and Beverage:</strong> Restaurants and food vendors yearn for proposals showcasing mouthwatering dishes, innovative menus, and memorable dining experiences, enticing hungry customers to indulge in their culinary delights.</p>                    
                    </div>
                </div>
            </div>

            <div class="designs-samples-layout-03">
                <div class="design-samples-div-03">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-13.png' %}" alt="">
                </div>
    
                <div class="design-samples-div-03">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-14.png' %}" alt="">
                </div>
    
                <div class="design-samples-div-03">
                    <img src="{% static 'IMG/graphic-design-portfolio/item-15.png' %}" alt="">
                </div>
            </div>

        </div>
    </div>

    <div class="return-home-btn">
        <a href="{% url 'main:index' %}"><button>Home Page</button></a>
    </div>


    <script src="{% static 'js/graphic-design-portfolio.js' %}"></script>

</body>
</html>